a{
  font-size: 13px;
  text-decoration: none;
  color: #0077C5;
}

a:active, a:hover{
  text-decoration: underline;
}
span{
  ont-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #94979c;
    margin-right: 0.5%;

}
body{
  background-color: #e6e7e8;
}
button{
  background-color: #047bc4;
  color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding-top: 4%;
  padding-bottom:  4%;
  text-align:center;
  webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
}
input{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}
input:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
label{
  font-weight: normal;
  padding-bottom: 1%;
}

#top-right-msg{
  font-size: 10px;
}

#top-right-link{
  font-size: 10px;
}

#top-right-link:hover{
  text-decoration: none;
}

#terms{
  text-align: center;
  color: #94979c;
  font-style: italic;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}

#div-center{
  text-align: center;

}
#div-form{
  background-color: white;
  display: inline-block;
  padding: 2%;
  text-align: left;
  border: solid 1px #b7b9bd;
  border-bottom: none;
  width: 380px;
}

#img-logo{
  text-align: center;
  padding-top: 70px;
}

#main{
  width: 100%;
  text-align: center;
}
#middle-title{
  font-size: 14px;
  color: #4C4C4C;
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

#top-title{
  font-size: 24px;
  color: #4C4C4C;
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}
#captcha{
  background: #dce0e6;
  margin: 0 auto;
  width: 380px;
  margin-left: 5;
  border: solid 1px #b7b9bd;
  border-top: none;
  font-size: 9px;
  padding: 18px;
  color: #94979c;
}

#text-agree{
  text-align: center;
}

#footer-terms{
  text-align: center;
  width: 53%;
  margin: 0 auto;
  font-size: 12px;
  padding-top: 2%;
  padding-bottom: 1%;
}

#legal-msg{
  color: #414245;

}
#btn-signin{
  border: 1px solid grey;
  padding: 7px;
  margin-top: 10px;
}

.link-footer{
  color: #414245;
}
.a-captcha{
  font-size: 9px;
}
